body{
  background-color: #260801;
}

h1{
  color: #d9d5d2;
  font-family: "Cambo", serif;
  text-shadow: 2px 2px 4px #000000;
}

.subPalabras{
  color: #a69992;
  font-family: "Cambo", serif;
  text-shadow: 2px 2px 4px #000000;
}

.fondo{
  padding: 1%;
  background-color: #593e34;
}

.barra{
  background-color: #593e34;
}